<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button slot="end" (click)='goBack()' color="orange" class="md button button-clear">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title>Liked Blogs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Fetching Blogs..."></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let blog of blogs">
                <app-blog-display (click)="blogDetail(blog)" [blog]="blog"></app-blog-display>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more blogs...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>