<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
        <ion-button (click)='presentPopover($event)' color="dark" large slot="end">
            <ion-icon name="more"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container" *ngIf='loaded'>
        <header>
        </header>
        <main>
            <div class="row">
                <div class="left col-lg-4">
                    <div class="photo-left">
                        <img class="photo" src="../../assets/{{user.profile}}" />
                        <div class="active"></div>
                    </div>
                    <h4 class="name ion-text-capitalize">{{user.name}}</h4>
                    <p class="info">{{user.emailId}}</p>
                    <ion-row>
                        <ion-col class="stats">
                            <p class="number-stat">{{followersCount}}</p>
                            <p class="desc-stat">Followers</p>
                        </ion-col>
                        <ion-col class="stats">
                            <p class="number-stat">{{followingCount}}</p>
                            <p class="desc-stat">Following</p>
                        </ion-col>
                        <ion-col class="stats">
                            <p class="number-stat">{{postsCount}}</p>
                            <p class="desc-stat">Posts</p>
                        </ion-col>
                    </ion-row>
                    <p class="desc" *ngIf="user.about">{{user.about}}</p>
                </div>
            </div>
        </main>
    </div>
</ion-content>